<!--descriptor-->

<web-app>

    <!--Conn DB-->
    <servlet>
        <servlet-name>PreparePropertiesHibernate</servlet-name>
        <servlet-class>ru.job4j.model.store.PreparePropertiesHibernateServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>PreparePropertiesHibernate</servlet-name>
        <url-pattern>/PrepareProperties</url-pattern>
    </servlet-mapping>


    <!--Save Or Update Item-->
    <servlet>
        <servlet-name>SaveOrUpdateItem</servlet-name>
        <servlet-class>ru.job4j.controller.servlets.SaveOrUpdateItem</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SaveOrUpdateItem</servlet-name>
        <url-pattern>/saveOrUpdateItem</url-pattern>
    </servlet-mapping>


    <!--view Items-->
    <servlet>
        <servlet-name>viewItems</servlet-name>
        <servlet-class>ru.job4j.view.servlets.Items</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>viewItems</servlet-name>
        <url-pattern>/viewItems</url-pattern>
    </servlet-mapping>

</web-app>