<!--descriptor-->

<web-app>

    <!--Hello world-->
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.EchoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>


    <!--REST API-->
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.UsersServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/api</url-pattern>
    </servlet-mapping>



    <!-- FACE SERVLET -->
    <!--VIEW-->
    <servlet>
        <servlet-name>FaceServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.FaceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FaceServlet</servlet-name>
        <url-pattern>/face</url-pattern>
    </servlet-mapping>


    <!--ADD-->
    <servlet>
        <servlet-name>FaceServletAdd</servlet-name>
        <servlet-class>ru.job4j.servlets.FaceServletAdd</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FaceServletAdd</servlet-name>
        <url-pattern>/face/add</url-pattern>
    </servlet-mapping>


    <!--UPDATE-->
    <servlet>
        <servlet-name>FaceServletUpdate</servlet-name>
        <servlet-class>ru.job4j.servlets.FaceServletUpdate</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FaceServletUpdate</servlet-name>
        <url-pattern>/face/update</url-pattern>
    </servlet-mapping>


    <!--DELETE-->
    <servlet>
        <servlet-name>FaceServletDelete</servlet-name>
        <servlet-class>ru.job4j.servlets.FaceServletDelete</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FaceServletDelete</servlet-name>
        <url-pattern>/face/delete</url-pattern>
    </servlet-mapping>



    <!-- JSP SERVLET -->
    <!--ADD-->
    <servlet>
        <servlet-name>JSPServletAdd</servlet-name>
        <servlet-class>ru.job4j.servlets.JSPServletAdd</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JSPServletAdd</servlet-name>
        <url-pattern>/JSP/add</url-pattern>
    </servlet-mapping>


    <!--UPDATE-->
    <servlet>
        <servlet-name>JSPServletUpdate</servlet-name>
        <servlet-class>ru.job4j.servlets.JSPServletUpdate</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JSPServletUpdate</servlet-name>
        <url-pattern>/JSP/update</url-pattern>
    </servlet-mapping>


    <!--DELETE-->
    <servlet>
        <servlet-name>JSPServletDelete</servlet-name>
        <servlet-class>ru.job4j.servlets.JSPServletDelete</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JSPServletDelete</servlet-name>
        <url-pattern>/JSP/delete</url-pattern>
    </servlet-mapping>

</web-app>