<!--descriptor-->

<web-app>

    <!--FILTER-->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.job4j.servlets.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <!--Signin-->
    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>ru.job4j.servlets.SigninController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <!--Точка входа-->
    <servlet>
        <servlet-name>UsersController</servlet-name>
        <servlet-class>ru.job4j.servlets.UsersController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>UsersController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--Add-->
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>ru.job4j.servlets.Add</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <!--Update-->
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>ru.job4j.servlets.Update</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <!--Delete-->
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>ru.job4j.servlets.Delete</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>




</web-app>